/*Here comes the styling of contact page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #757575;
}

.contact-header {
  background-color: #c7ddea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.8em;
  margin: 0.5em 0 0 0.5em;
  font-weight: bolder;
  color: #050607;
  position: absolute;
  top: 1.6em;
  left: 0.5em;
}

.contact-header img {
  max-width: 50%;
  margin: 1em 1em 0 10em;
}

.page-nav,
.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  white-space: nowrap;
}

.nav-list {
  justify-content: space-evenly;
}

.list-item {
  font-size: 1rem;
  font-weight: 700;
  color: #757575;
  padding: 2.5em 4em;
  flex-basis: 50%;
  text-align: center;
}

.list-item:hover {
  color: black;
  background-color: #f6f6f6;
}
.list-item:last-child {
  background-color: #f6f6f6;
  color: black;
}

.contact-section {
  background-color: #a9a19e;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 10em;
}

.contact-section .section-title {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
  font-size: 3em;
  color: #fff;
}

.contact-mail {
  color: #f6f6f6;
  font-weight: 700;
  padding-left: 0.5em;
}

.contact-input {
  display: block;
  width: 100%;
  height: 3em;
  border-radius: 2px;
  margin: 0.8em auto;
  padding-left: 0.5em;
  border: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}
::placeholder {
  color: rgb(176, 176, 176);
}

.contact-message {
  color: #f6f6f6;
  font-weight: 700;
  padding-left: 0.5em;
}

#textarea {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  padding: 1em 0.5em;
  height: 12em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  resize: none;
  border-radius: 2px;
}

.contact-btn {
  background-color: #f6f6f6;
  padding: 1em 1em;
  border: none;
  box-shadow: 0 2px 1px rgb(176, 176, 176);
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  align-self: flex-end;
  float: right;
  width: 40%;
  margin-top: 2em;
  color: #000;
  cursor: pointer;
}
button:hover {
  box-shadow: 10px 12px 10px rgba(51, 50, 50, 0.1);
  background-color: #424243;
  color: white;
}

button:active {
  box-shadow: 10px 12px 10px rgba(51, 50, 50, 0.1);
  transform: translateY(4px);
}

.contact-address {
  width: 80%;
  height: 15rem;
  padding: 2em 1em;
  background-color: #fab131;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  position: absolute;
  top: -7em;
  left: 10%;
  padding-left: 2em;
}

.address-header {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.address-text {
  font-weight: 700;
}

.gmap_canvas {
  filter: brightness(30%);
}

.gmap_canvas:hover {
  filter: brightness(100%);
  transition: 3000ms;
}

#gmap_canvas {
  width: 100%;
}

.container-address {
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    width: 70%;
    background-color: #797979;
    margin: 0 auto;
  }
  .contact-header {
    font-size: 1.5em;
    text-align: center;
    padding-left: 8em;
  }
  .header-text {
    position: static;
    margin-left: 3em;
    margin-bottom: 1.15em;
  }
  br {
    display: none;
  }
  .contact-header img {
    margin-top: 1em;
    margin-left: 6em;
    position: relative;
    max-width: 20%;
  }
  .page-nav {
    width: 100%;
    height: 6em;
  }
  .page-nav .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 8em;
    height: 5em;
  }
  .nav-list .list-item {
    width: 100%;
    padding: 2.5em 1.2em;
    font-size: 1rem;
    text-align: center;
  }
  .list-item a {
    font-weight: 700;
  }
  .contact-section {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-basis: 100%;
    padding: 8em;
    gap: 10em;
  }
  .contact-section .section-title {
    font-size: 3.5rem;
  }
  .contact-address {
    width: 60%;
  }

  .contact-btn {
    align-self: end;
    width: 40%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    margin-right: 4em;
  }
  .address-header {
    font-size: 3.5rem;
  }
  .contact-address {
    position: relative;
    width: 26em;
    height: 17em;
    top: -31em;
  }
  .list-item:hover,
  .list-item a:hover {
    background-color: white;
    color: #000;
  }
  .list-item {
    flex-basis: 25%;
  }
  .list-item:last-child {
    background-color: #fff;
    color: black;
  }

  /* footer gray box */

  .gray-box {
    position: relative;
    top: -18em;
    height: 15em;
    background-color: #757575;
  }
}
/*For ipads - landscape & portrait view - just because I accidentally looked at the page on my ipad and got horrified. */

@media only screen and (min-device-width: 768px) and (max-device-width: 1500px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100% !important;
  }
  .contact-section {
    padding: 3em;
    gap: 2em;
  }
  .contact-section .section-title {
    font-size: 2.5rem;
  }
  .contact-header {
    padding-left: 1em;
  }
}
