* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  background-color: #e6e6e6;
  scroll-behavior: smooth;
  letter-spacing: -0.02em;
}
/* || Header - all parts of the header*/

.header-div-column:first-child {
  background-color: #c7ddea;
  padding: 1em 1.5em 0 1.5em;
}

.header-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3em;
  margin-top: 1.3em;
  margin-right: 1em;
  font-weight: 900;
}
.header-text {
  line-height: 1.6em;
  margin: 1.5em 0;
  font-size: 1rem;
  color: rgb(87, 91, 96);
  font-weight: 600;
}
.white-text {
  color: #fff;
}
.header-btn,
.section-btn {
  padding: 1.2em 3.5em;
  border: none;
  box-shadow: 0 2px 1px rgb(176, 176, 176);
  border-radius: 50px;
  text-transform: uppercase;
  margin: 2em 0;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: #000;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}

.header-img,
.card-img {
  height: auto;
  width: 100%;
  vertical-align: middle; /*made the thin border under the images go away*/
}
.header-img {
  margin-top: 2em;
}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20em;
}
.header-div:nth-child(1) {
  background-color: #f17949;
}

.header-div:nth-child(2) {
  background-color: #fab131;
}
.div-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
  color: rgb(59, 56, 55);
  font-size: 1rem;
}
.header-div p:first-of-type {
  font-size: 0.7em;
}

.header-div a {
  font-family: "Frank Ruhl Libre", serif;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
}

/* || navigation */

.page-nav {
  background-color: rgb(232, 232, 232);
}
/* || main section of the page */

.page-section {
  padding: 2em;
}

.section-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.8em;
  color: #fff;
  line-height: 1.2em;
  padding-bottom: 1em;
}

.section-btn {
  display: none;
}

button:hover {
  box-shadow: 10px 12px 10px rgba(51, 50, 50, 0.1);
  background-color: #424243;
  color: white;
}

button:active {
  box-shadow: 10px 12px 10px rgba(51, 50, 50, 0.1);
  transform: translateY(4px);
}

.div-text {
  line-height: 1.6em;
}

/* || Product Cards */

.page-section:first-child {
  background-color: #a9a19e;
}
.product-card {
  background-color: #fff;
  width: 18em;
  margin: 4em auto;
  border-radius: 8px;
  overflow: visible;
}
.color-card-blue {
  background-color: #c7ddea;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.color-card-yellow {
  background-color: #fab131;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.color-card-orange {
  background-color: #f17949;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.card-img {
  max-width: 55%;
  height: 12em;
  object-fit: cover;
  object-position: 0 1.5em;
  margin: 0 3.2em;
}
/* Image was smaller than the other - fixed the problem */
.color-card-orange .card-img {
  max-width: 60%;
  object-position: 0 3em;
  margin: 0 2.6em;
}

.card-body {
  padding: 2em 1.5em 2.5em 1.5em;
  margin-top: -3.5em;
}
.card-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.5rem;
  color: #000;
  padding: 1em 0;
  text-align: center;
  font-weight: 700;
}
.card-text {
  color: rgb(142, 142, 142);
  line-height: 1.5em;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

.page-section {
  background-color: #fab131;
}
.page-section:last-child {
  text-align: center;
}

/* || Bottom grid list */

.list-title {
  color: #000;
  background-color: #c7ddea;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  padding: 1em 0em;
  text-align: center;
}
.list-item-ordered {
  height: 12em;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 5em 0em;
  font-weight: 700;
  line-height: 1.2em;
}

.list-item-ordered:nth-child(odd) {
  background-color: #d6d6d6;
}

.list-item-ordered:hover {
  background-color: #f17949;
}

.list-item-ordered:nth-child(2)::before {
  content: "01";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.3em;
  left: 0.25em;
}

.list-item-ordered:nth-child(3)::before {
  content: "02";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.3em;
  left: 0.25em;
}
.list-item-ordered:nth-child(4)::before {
  content: "03";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.3em;
  left: 0.25em;
}
.list-item-ordered:nth-child(5)::before {
  content: "04";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.3em;
  left: 0.25em;
}
.list-item-ordered:nth-child(6)::before {
  content: "05";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.3em;
  left: 0.25em;
}

/* || bottom nav*/

.bottom-nav {
  display: none;
}

/* || footer gray box */

.gray-box {
  height: 15em;
  background-color: #757575;
}
.thin-gray-box {
  height: 4.5em;
  background-color: #e6e6e6;
}

/* || Media Query for bigger screens*/

@media screen and (min-width: 768px) {
  body {
    width: 70%;
    margin: 0 auto;
  }
  .page-header {
    display: flex;
  }

  /* || Header*/
  .header-img {
    width: 49%;
    max-height: 55%;
    position: absolute;
    bottom: 0;
    right: 4%;
  }
  .header-div-column {
    flex: 2 1 50%;
    height: auto;
    position: relative;
  }
  .header-title {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 3.5;
    margin-top: 1.5em;
    margin-right: 1.5em;
    font-weight: 900;
  }
  .header-div p:first-of-type {
    font-size: 0.8em;
  }

  .header-text {
    width: 18em;
    font-size: 1.1em;
  }
  .header-div-column:nth-child(1) {
    padding-left: 9em;
  }
  /*|| navbar*/
  .page-nav {
    width: 100%;
    height: 6em;
  }
  .page-nav .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 8em;
  }
  .nav-list .list-item {
    width: 100%;
    padding: 2.5em 1.2em;
    font-size: 1rem;
    text-align: center;
  }
  .list-div {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .list-div > * {
    height: 25em;
    flex: 1 0 33%;
  }

  .list-item-ordered {
    justify-content: center;
    align-items: center;
    font-size: 1.4em; /* here */
    color: rgb(87, 91, 96);
    height: 18em;
    line-height: 1.3em;
  }
  .list-title {
    font-size: 3rem;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .list-item a {
    text-decoration: none;
    color: rgb(130, 130, 130);
    font-weight: 700;
  }

  .active a {
    color: black;
  }

  .list-item a:hover {
    color: #000;
  }

  /* || main section */

  .page-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  .section-container {
    display: flex;
    gap: 12em;
    margin: 8em;
  }
  .section-div {
    flex: 1 1 50%;
  }
  .section-btn {
    display: block;
  }

  .section-title {
    font-size: 3.5em;
    line-height: 0.9em;
  }
  .div-text {
    font-size: 1.2em;
  }

  .product-card {
    width: 26%;
    position: relative;
    margin-top: -15em;
    bottom: -15em;
  }

  .card-img {
    max-width: 45%;
    height: 12em;
    object-fit: cover;
    object-position: 0 1.5em;
    margin: 0 4.5em;
  }

  .color-card-orange .card-img {
    max-width: 60%;
    object-position: 0 3em;
    margin: 0 3.5em;
  }

  .page-section:last-child {
    padding: 20em;
    padding-bottom: 10em;
    padding-top: 13em;
  }

  .section-title:first-child {
    padding-bottom: 0;
    line-height: 1em;
  }

  .section-title:last-of-type {
    margin: auto;
    padding-bottom: 0.6em;
  }

  /* || bottom-nav*/
  .bottom-nav {
    display: block;
    height: 4em;
    background-color: #a9a19e;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .bottom-nav i {
    position: relative;
    top: 0.3em;
  }

  .bottom-nav p {
    font-size: 1.1rem;
    font-weight: 700;
  }
  .thin-gray-box {
    display: none;
  }
}
/* || Images in the middle section - this fixed the problem with the images stacking a bit when the screen size was between 768 and 1050px */
@media screen and (max-width: 1050px) and (min-width: 769px) {
  .page-section {
    display: flex;
  }
  .product-card {
    position: static;
    margin: 2em auto;
  }
}
/* // For nav on mobiles */
@media screen and (max-width: 767px) {
  .nav-list {
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
    background-color: rgb(232, 232, 232);
    z-index: 99;
    box-shadow: 2px 0px 2px #bebdbd;
    animation: slide-in 1200ms ease-in;
  }

  .page-nav .nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  .nav-list .list-item {
    padding: 2em 1.5em;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .list-item a {
    text-decoration: none;
    color: #000;
    opacity: 0.4;
  }
  .active a {
    color: #000;
    opacity: 1;
  }
}

/* || Keyframes*/

@keyframes slide-in {
  from {
    transform: translatey(100%);
  }
  to {
    transform: translatey(0%);
  }
}

/*for ipads and smaller screens*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1500px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100% !important;
  }
  .header-div-column:nth-child(1) {
    padding-left: 6em;
  }
  .section-container {
    gap: 3em;
    margin: 2em;
  }
}
