* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  background-color: #e6e6e6;
  scroll-behavior: smooth;
}

/* || Header - all parts of the header*/

.header-div-column:first-child {
  background-color: #c7ddea;
  padding: 1em 1.5em 0em 1.5em;
}

.header-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: bold;
}
.header-text {
  line-height: 1.5em;
  margin: 1em 0;
  font-size: 1em;
  color: rgb(87, 91, 96);
  font-weight: 700;
}
.white-text {
  color: #fff;
}
.header-btn,
.section-btn {
  font-family: "Fira Sans", sans-serif;
  padding: 1.2em 4em;
  border: none;
  box-shadow: 0 2px 1px rgb(176, 176, 176);
  border-radius: 50px;
  text-transform: uppercase;
  margin: 2em 0;
  font-weight: 700;
  font-size: 0.8em;
  background-color: rgb(255, 255, 255);
  color: #000;
  width: 15em;
}

.header-img,
.card-img {
  width: 100%;
  vertical-align: middle; /*made the border go away*/
}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22em;
}
.header-div:nth-child(1) {
  background-color: #f17949;
}

.header-div:nth-child(2) {
  background-color: #fab131;
}

.div-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: rgb(59, 56, 55);
  line-height: 1.6em;
}

.headerdiv-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.9em;
  margin-bottom: 1.2em;
  font-weight: 700;
  color: rgb(59, 56, 55);
}

.header-div a {
  font-family: "Frank Ruhl Libre", serif;
  text-decoration: none;
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  white-space: nowrap;
}

/* || Navigation */

.page-nav {
  background-color: rgb(232, 232, 232);
}
/* || Main section of the page: Your personal financial...till About us */

.page-section {
  padding: 2em;
}

.section-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3em;
  color: #fff;
  line-height: 1.2em;
  padding-bottom: 0.3em;
}

.text {
  padding-left: 3em;
  padding-right: 3em;
}

.section-btn {
  display: none;
}

/* || Product Cards */

.page-section:first-child {
  background-color: #a9a19e;
}
.product-card {
  background-color: #fff;
  width: 18em;
  margin: 4em auto;
  border-radius: 8px;
  overflow: visible;
}
.color-card-blue {
  background-color: #c7ddea;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.color-card-yellow {
  background-color: #fab131;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.color-card-orange {
  background-color: #f17949;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.card-img {
  max-width: 55%;
  height: 12em;
  object-fit: cover;
  object-position: 0 1.5em;
  margin: 0 3em;
}

.color-card-orange .card-img {
  max-width: 60%;
  object-position: -0em 3em;
  margin: 0 2.5em;
}

.card-body {
  padding: 2em 1.5em 2.5em 1.5em;
  margin-top: -3.5em;
}
.card-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.2rem;
  color: #000;
  padding: 1em 0;
  text-align: center;
}
.card-text {
  color: rgb(142, 142, 142);
  line-height: 1.5em;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 700;
}

.page-section {
  background-color: #fab131;
}
.page-section:last-child {
  text-align: center;
}

/* Bottom grid list: How It works?*/

.list-title {
  color: #000;
  background-color: #c7ddea;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  padding: 1em 0em;
  text-align: center;
  font-weight: 900;
}
.list-item-ordered {
  height: 12em;
  text-align: center;
  position: relative;
  padding: 5em 0em;
  line-height: 1.2em;
  font-weight: 700;
  font-size: 1.3em;
}
.list-item-ordered:nth-child(odd) {
  background-color: #d6d6d6;
}

.list-item-ordered:hover {
  background-color: #f17949;
}

.list-item-ordered:nth-child(2)::before {
  content: "01";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.8em;
  left: 0.5em;
}

.list-item-ordered:nth-child(3)::before {
  content: "02";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.8em;
  left: 0.5em;
}

.list-item-ordered:nth-child(4)::before {
  content: "03";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.8em;
  left: 0.5em;
}
.list-item-ordered:nth-child(5)::before {
  content: "04";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.8em;
  left: 0.5em;
}
.list-item-ordered:nth-child(6)::before {
  content: "05";
  font-family: "Frank Ruhl Libre", serif;
  color: #a9a19e;
  font-size: 2.5em;
  position: absolute;
  top: 0.8em;
  left: 0.5em;
}

/* || Bottom nav : Take me up*/

.bottom-nav {
  display: none;
}

/* footer gray box */

.gray-box {
  height: 15em;
  background-color: #757575;
}
.thin-gray-box {
  height: 6em;
  background-color: #e6e6e6;
}

/* || Media Query for laptops and desktops*/

@media screen and (min-width: 768px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .page-header {
    display: flex;
  }

  /*Header*/
  .header-text {
    margin-left: 0;
  }
  .header-img {
    width: 55%;
    max-height: 65%;
    position: absolute;
    bottom: 0;
    right: 5%;
  }
  .header-div-column {
    flex: 2 1 50%;
    height: auto;
    position: relative;
  }

  /* || Navbar*/
  .page-nav {
    width: 100%;
    height: 4em;
  }
  .page-nav .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 8em;
  }
  .nav-list .list-item {
    width: 100%;
    padding: 2em 1.2em;
    font-size: 0.9rem;
    text-align: center;
  }
  .list-div {
    display: flex;
    flex-wrap: wrap;
  }

  .list-div > * {
    flex: 1 0 33%;
  }

  .list-item a {
    text-decoration: none;
    color: rgb(130, 130, 130);
    font-weight: 700;
  }

  .active a {
    color: black;
  }

  .list-item a:hover {
    color: #000;
  }

  /* || Main section */
  .page-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  .section-container {
    display: flex;
    gap: 6em;
    margin: 4em;
  }
  .section-div {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 3em;
  }

  button:hover {
    box-shadow: 10px 12px 10px rgba(51, 50, 50, 0.1);
    background-color: #424243;
    color: white;
  }

  button:active {
    box-shadow: 10px 12px 10px rgba(51, 50, 50, 0.1);
    transform: translateY(4px);
  }

  /* Responsive option for images but will create problems with them such as weird cuts and margin problems.
  .product-card-wrapper {
    max-width: 100%;
    margin: 0 auto; 
    display: flex;
    gap: 2em; 
  }*/
  /* || Product cards*/
  .product-card {
    width: 15em;
    position: relative;
    margin-top: -15em;
    bottom: -15em;
  }
  .page-section:last-child {
    padding: 14em 12em 11em 12em;
  }
  .section-title:first-of-type {
    position: relative;
    left: 1.8em;
    line-height: 1em;
  }
  .section-title:last-of-type {
    width: 85%;
  }

  .main-text {
    padding-left: 15em;
    padding-right: 15em;
    margin-top: 1em;
    line-height: 1.6em;
  }
  .header-btn {
    margin-left: 12em;
    margin-top: 4em;
  }
  .section-btn {
    margin-left: 6.5em;
    display: block;
    margin-bottom: 4em;
  }

  .section-text {
    padding-right: 10em;
    line-height: 1.8em;
  }

  .header-title {
    padding-left: 3.2em;
    padding-right: 3.2em;
    margin-bottom: 0em;
  }
  .header-text {
    margin-left: 10em;
    margin-right: 16em;
  }

  .header-img {
    width: 58%;
    object-fit: cover;
    position: absolute;
    left: 17em;
  }

  /* || Bottom list: How It works?*/

  .list-title,
  .list-item-ordered {
    height: 56vh;
    flex: 1 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* || Bottom-nav*/
  .bottom-nav {
    display: block;
    height: 5em;
    background-color: #a9a19e;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .bottom-nav i {
    position: relative;
    left: 6%;
    font-size: 2.5em;
  }

  .bottom-nav p {
    font-size: 1.2rem;
    font-weight: 700;
    align-self: center;
  }
  .thin-gray-box {
    display: none;
  }
}
/* || Media Query for pads/tablets */
@media screen and (max-width: 1050px) and (min-width: 769px) {
  .page-section {
    display: flex;
  }
  .product-card {
    position: static;
    margin: 2em auto;
  }
}

/* || Media Query for nav on mobiles */
@media screen and (max-width: 767px) {
  .nav-list {
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
    background-color: rgb(232, 232, 232);
    z-index: 99;
    box-shadow: 2px 0px 2px #bebdbd;
    animation: slide-in 1200ms ease-in;
  }

  .page-nav .nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  .nav-list .list-item {
    padding: 2em 1.5em;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .list-item a {
    text-decoration: none;
    color: #000;
    opacity: 0.4;
  }
  .active a {
    color: #000;
    opacity: 1;
  }
}

/* || Keyframes for nav on mobiles*/

@keyframes slide-in {
  from {
    transform: translatey(100%);
  }
  to {
    transform: translatey(0%);
  }
}
